 body {
     background: url('../notebook-paper-textures-background.jpg');
 }

 .game-item {
     color: black;
     background-color: transparent;
     font-size: 130px;
     font-family: 'Press Start 2P', cursive;
     font-family: 'Reenie Beanie', cursive;
     width: 150px;
     height: 150px;
     box-sizing: border-box;
     border: 10px solid #77949c;
     cursor: pointer;
     padding: 20px;
     margin: 0;
     line-height: 90px;
     vertical-align: top;
 }

 .game-item-winner {
     background: #96de98;
 }

 /* using css specificity to enforce backgroung color */

 .game-item.game-item-winner:hover {
     background: #96de98;
 }

 #game {
     display: inline-table;
     margin-top: 20px;
 }

 .game-item:hover {
     background: #d1d4d6;
     transition: background .2s linear;
 }

 .game-title {
     font-family: 'Press Start 2P', cursive;
     font-family: 'Reenie Beanie', cursive;
     font-size: 80px;
     text-align: center;
     margin: 0 30px;
 }

 .no-border-top {
     border-top: 0;
 }

 .no-border-bottom {
     border-bottom: 0;
 }

 .no-border-right {
     border-right: 0;
 }

 .no-border-left {
     border-left: 0;
 }

 .win-item {
     width: 100%;
     height: 70px;
     margin: 35px 58px;
     cursor: pointer;
     color: black;
     font-family: 'Press Start 2P', cursive;
     font-family: 'Reenie Beanie', cursive;
     font-size: 65px;
     display: inline-block;
 }

 .win-img {
     width: 65px;
     display: none;
 }

 .restart {
     background: #77949c;
     width: 450px;
     height: 50px;
     font-family: 'Press Start 2P', cursive;
     font-family: 'Reenie Beanie', cursive;
     font-size: 45px;
     cursor: pointer;
     padding: 20px;
     line-height: 10px;
     vertical-align: top;
     text-align: center;
     margin: 0 0 40px 0;
 }

 .footer {
     display: block;
     background: #77949c;
     color: black;
     height: 60px;
     padding: 10px;
     font-family: 'Press Start 2P', cursive;
     font-family: 'Reenie Beanie', cursive;
     font-size: 18px;
 }

 .footer-description {
     text-align: left;
     font-size: 30px;
 }

 .default-margin {
     width: 520px;
     margin-left: auto;
     margin-right: auto;
 }

 .score-result {
     font-family: 'Press Start 2P', cursive;
     font-family: 'Reenie Beanie', cursive;
     font-size: 30px;
     display: block;
     float: left;
     margin: 30px 0 0 40px;
 }